section.services-item
  .container.services-item__container
    .services-item__main-block
      h1.services-item__title Лечение кариеса
      h2.services-item__section-title Что будет, если кариес не лечить?
      p.services-item__text-block Как вы уже поняли, кариес — это серьёзное заболевание, которое может привести к пульпиту, ведь со временем микробы доберутся и до нервов вашего зуба. Пульпит является признаком того, что большая часть зуба уже поражена, так как происходит воспаление сосудисто-нервного пучка. Почему это опасно?
      p.services-item__text-block Именно эти пучки доставляют зубам питательные элементы. Поэтому при их поражении зуб постепенно становится мертвым и перестаёт ощущать холод или тепло.
      p.services-item__text-block Когда воспаляется пульпа, возникает отёк, при котором давление внутри твёрдых тканей зуба становится довольно огромным. Пациент ощущает острую, интенсивную боль и обращается к стоматологам. Однако, единственное, что можно сделать в такой ситуации — удалить часть нервных пучков и очистить зуб от вредоносных бактерий.
      .prices.services-item__prices
        h2.prices__title Услуги и цены
        .prices__list
          .prices__item
            .prices__name Лечение кариеса
            .prices__price от 2100 ₽
            .prices__call
              a.prices__call-link(href='#') Записаться на прием
          .prices__item
            .prices__name Средний кариес
            .prices__price 3100 ₽
            .prices__call
              a.prices__call-link(href='#') Записаться на прием
          .prices__item
            .prices__name Глубокий кариес
            .prices__price от 4000 ₽
            .prices__call
              a.prices__call-link(href='#') Записаться на прием
          .prices__item
            .prices__name Реставрация зубов
            .prices__price от 4000 ₽
            .prices__call
              a.prices__call-link(href='#') Записаться на прием
          .prices__item
            .prices__name Лечение пульпита
            .prices__price от 6000 ₽
            .prices__call
              a.prices__call-link(href='#') Записаться на прием
          .prices__item
            .prices__name Лечение периодонтита
            .prices__price от 3000 ₽
            .prices__call
              a.prices__call-link(href='#') Записаться на прием
          .prices__item
            .prices__name Установка пломбы
            .prices__price от 2600 ₽
            .prices__call
              a.prices__call-link(href='#') Записаться на прием
