doctype html
html(lang='ru')
  block head
    head
      meta(charset='utf-8')
      title Франшиза Риадент
      meta(content='width=device-width, initial-scale=1' name="viewport")
      meta(content='ie=edge' http-equiv='x-ua-compatible')
      //- link(rel='stylesheet' href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
      link(rel='stylesheet' href='css/style.css')
      script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
      script(type='text/javascript' src='https://vk.com/js/api/openapi.js?168')
  body
    block header
      include header
    block content
    block footer
      include footer
    block scripts
      script(src='js/main.min.js')
