section.about-us
  .container.about-us__container
    .about-us__text-block
      h2 О клинике
      p Добро пожаловать в сеть клиник "Риадент".
      p У нас представлен весь спектр стоматологических услуг: терапия, ортодонтия (исправление прикуса), хирургия, ортопедия (протезирование), пародонтология и имплантология. Каждый пациент получает у нас человеческое участие и профессиональное внимание!
      p Мы не завышаем цены и не назначаем ненужные услуги.
      p Поэтому лечиться у нас выгодно!
    .about-us__video-block
      iframe(loading='lazy' src="https://www.youtube.com/embed/6WS1VneSfNg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
