section.advantages
  .container.advantages__container
    h2.advantages__title Центр имплантации и протезирования "Риадент"
    ul.advantages__list
      li.advantages__item
        span.advantages__number.advantages__number--0 2
        span.advantages__text Центра имплантации и протезирования зубов по Республики Башкортостан
      li.advantages__item
        span.advantages__number.advantages__number--1 83976
        span.advantages__text пациентов довольных нашим лечением и сервисом
      li.advantages__item
        span.advantages__number.advantages__number--2 97%
        span.advantages__text клиенов приходят по положительной рекомендации
