section.slider
  .container.slider__container
    .slider__main-slide
      .slider__main-content
        h2.slider__main-title
        span.slider__main-price
        span.slider__main-text Бесплатная<br> консультация
        a.link.slider__main-link(href="#") Записаться на приём
      picture
        source.slider__main-source(type='image/webp')
        img.slider__main-img
    .slider__sliders
      button.slider__button.slider__button--prev
      button.slider__button.slider__button--next
      ul.slider__sliders-list
        li.slider__sliders-item.slider__sliders-item--akciya
          a.slider__sliders-link(href="#")
            span.slider__short-title Все зубы за один день
            h2.slider__slide-title Новые зубы за 1 день по технологии All-on-4 в Уфе
            span.slider__slide-price 189 000₽
            picture
              source.slider__slide-source(type='image/webp' srcset='img/mainslide1-650x652.webp')
              img.slider__slide-img(src='img/mainslide1-650x652.png' alt='')
        li.slider__sliders-item.slider__sliders-item--akciya.slider__sliders-item--active
          a.slider__sliders-link(href="#")
            span.slider__short-title Лечение зубов
            h2.slider__slide-title Лечение зубов без боли
            span.slider__slide-price
            picture
              source.slider__slide-source(type='image/webp' srcset='img/mainslide2-618x654.webp')
              img.slider__slide-img(src='img/mainslide2-618x654.png' alt='')
        li.slider__sliders-item.slider__sliders-item--third.slider__sliders-item--akciya
          a.slider__sliders-link(href="#")
            span.slider__short-title Лечение в рассрочку
            h2.slider__slide-title Здоровая улыбка в рассрочку и кредит
            span.slider__slide-price 0%
            picture
              source.slider__slide-source(type='image/webp' srcset='img/mainslide3-736x678.webp')
              img.slider__slide-img(src='img/mainslide3-736x678.png' alt='')
        li.slider__sliders-item
          a.slider__sliders-link(href="#")
            span.slider__short-title Доп слайдер 1
            h2.slider__slide-title Доп слайдер 1
        li.slider__sliders-item.slider__sliders-item--akciya
          a.slider__sliders-link(href="#")
            span.slider__short-title Доп слайдер 2
            h2.slider__slide-title Доп слайдер 2
