section.middle-banner
  button.middle-banner__button.middle-banner__button--prev
  button.middle-banner__button.middle-banner__button--next
  .container.middle-banner__container
    .middle-banner__button-list
    ul.middle-banner__slide-list
      li.middle-banner__slide-item.middle-banner__slide-item--first
        .middle-banner__img-block
          picture
            source(type='image/webp' srcset='img/bannerslide1-430x430.webp')
            img.middle-banner__img(src='img/bannerslide1-430x430.png' alt='')
        .middle-banner__description
          span.middle-banner__text Все зубы на 4 имлантах с отсроченной нагрузкой протезом.
          a.link.middle-banner__link(href='#') Позвонить
      li.middle-banner__slide-item.middle-banner__slide-item--second
        .middle-banner__img-block
          picture
            source(type='image/webp' srcset='img/top-banner1-450x343.webp')
            img.middle-banner__img(src='img/top-banner1-450x343.png' alt='')
        .middle-banner__description
          h2.middle-banner__title Стоматология для самых маленьких
          p.middle-banner__text Сеть стоматологических клиник РИАДЕНТ специализируется на полном спектре стоматологических услуг для детей и взрослых
          a.link.middle-banner__link(href='#') Перейти на сайт
      li.middle-banner__slide-item.middle-banner__slide-item--third
        .middle-banner__img-block
          picture
            source(type='image/webp' srcset='img/top-banner2-598x492.webp')
            img.middle-banner__img(src='img/top-banner2-598x492.png' alt='')
        .middle-banner__description
          h2.middle-banner__title Компьютерная томография
          p.middle-banner__text Исследование методом 3D компьютерной томографии 40x40<br> Исследование методом 3D компьютерной томографии 70x70 от 1500 руб
          a.link.middle-banner__link(href='#') Записаться на приём
      li.middle-banner__slide-item.middle-banner__slide-item--fourth
        .middle-banner__img-block
          picture
            source(type='image/webp' srcset='img/bannerslide2-669x430.webp')
            img.middle-banner__img(src='img/bannerslide2-669x430.png' alt='')
        .middle-banner__description
          span.middle-banner__text Какие-то брекеты на синем фоне.
          a.link.middle-banner__link(href='#') Позвонить
