section.new-advantages
  .container.new-advantages__container
    h2.new-advantages__title Стоматология “Риадент” - это сочетание стоматологических традиций и новейших методик для лечения зубов
    ul.new-advantages__list
      li.new-advantages__item
        h3.new-advantages__item-title Центр имплантации и протезирования
        p.new-advantages__text Фундаментальное направление нашей клиники. Благодаря современным технологиям мы выполняем сложнейшие стоматологические операции.
      li.new-advantages__item
        h3.new-advantages__item-title Инновационная стоматология
        p.new-advantages__text Мы гордимся тем, что применяем в своей практике методики цифровой стоматологии, позволяющие с ювелирной точностью проводить самые сложные операции.
      li.new-advantages__item
        h3.new-advantages__item-title Международные стандарты
        p.new-advantages__text Стоматологи клиники следят за последними изменениями в международной медицине, а также сотрудничают с иностранными коллегами. Нам доверяют пациенты других стран.
      li.new-advantages__item
        h3.new-advantages__item-title Опыт врачей
        p.new-advantages__text Квалификацию наших специалистов могут подтвердить тысячи довольных клиентов, избавившихся от зубных проблем.
