section.our-team
  .container.our-team__container
    h2.our-team__title Наши специалисты
    ul.our-team__list
      li.our-team__item
        .our-team__img-block
          picture
            source(type='image/webp' srcset='img/samandar1-369x421.webp')
            img.our-team__img(src='img/samandar1-369x421.jpg' alt='')
        .our-team__text-block
          h3.our-team__name Бахадурзаде Самандар  Каримович
          span.our-team__position Стоматолог-хирург
          //- p.our-team__info Врач-стоматолог общей практики<br> заместитель главного врача клиники Риадент
          //- p.our-team__education Окончил Уфимский медицинский университет
          .our-team__links-block
            a.link.our-team__link.our-team__link--sign(href='#') Записаться
            a.link.our-team__link.our-team__link--more(href='#') Узнать больше
      li.our-team__item
        .our-team__img-block
          picture
            source(type='image/webp' srcset='img/samandar2-369x421.webp')
            img.our-team__img(src='img/samandar2-369x421.jpg' alt='')
        .our-team__text-block
          h3.our-team__name Бахадурзаде Самандар  Каримович
          span.our-team__position Стоматолог-хирург
          //- p.our-team__info Врач-стоматолог общей практики<br> заместитель главного врача клиники Риадент
          //- p.our-team__education Окончил Уфимский медицинский университет
          .our-team__links-block
            a.link.our-team__link.our-team__link--sign(href='#') Записаться
            a.link.our-team__link.our-team__link--more(href='#') Узнать больше
      li.our-team__item
        .our-team__img-block
          picture
            source(type='image/webp' srcset='img/samandar3-369x421.webp')
            img.our-team__img(src='img/samandar3-369x421.jpg' alt='')
        .our-team__text-block
          h3.our-team__name Бахадурзаде Самандар  Каримович
          span.our-team__position Стоматолог-хирург
          //- p.our-team__info Врач-стоматолог общей практики<br> заместитель главного врача клиники Риадент
          //- p.our-team__education Окончил Уфимский медицинский университет
          .our-team__links-block
            a.link.our-team__link.our-team__link--sign(href='#') Записаться
            a.link.our-team__link.our-team__link--more(href='#') Узнать больше
      li.our-team__item
        .our-team__img-block
          picture
            source(type='image/webp' srcset='img/samandar4-369x421.webp')
            img.our-team__img(src='img/samandar4-369x421.jpg' alt='')
        .our-team__text-block
          h3.our-team__name Бахадурзаде Самандар  Каримович
          span.our-team__position Стоматолог-хирург
          //- p.our-team__info Врач-стоматолог общей практики<br> заместитель главного врача клиники Риадент
          //- p.our-team__education Окончил Уфимский медицинский университет
          .our-team__links-block
            a.link.our-team__link.our-team__link--sign(href='#') Записаться
            a.link.our-team__link.our-team__link--more(href='#') Узнать больше
