section.reviews
  .container.reviews__container
    h2.reviews__title Мы меняем жизнь людей к лучшему
    .reviews__list
      .reviews__item.reviews__item--first
        div.reviews__img-block
          picture
            source(type='image/webp' srcset='img/reviews-img1-308x308.webp')
            img.reviews__img(src='img/reviews-img1-308x308.jpg' alt='')
        span.reviews__figcaption Отзывёр 1
        button.link.reviews__link(href='#') Показать отзыв
      .reviews__item.reviews__item--second
        div.reviews__img-block
          picture
            source(type='image/webp' srcset='img/reviews-img1-308x308.webp')
            img.reviews__img(src='img/reviews-img1-308x308.jpg' alt='')
        span.reviews__figcaption Отзывёр 2
        button.link.reviews__link(href='#') Показать отзыв
      .reviews__item.reviews__item--third
        div.reviews__img-block
          picture
            source(type='image/webp' srcset='img/reviews-img1-308x308.webp')
            img.reviews__img(src='img/reviews-img1-308x308.jpg' alt='')
        span.reviews__figcaption Отзывёр 3
        button.link.reviews__link(href='#') Показать отзыв
      .reviews__item.reviews__item--fourth
        div.reviews__img-block
          picture
            source(type='image/webp' srcset='img/reviews-img1-308x308.webp')
            img.reviews__img(src='img/reviews-img1-308x308.jpg' alt='')
        span.reviews__figcaption Отзывёр 4
        button.link.reviews__link(href='#') Показать отзыв
      .reviews__item.reviews__item--fifth
        div.reviews__img-block
          picture
            source(type='image/webp' srcset='img/reviews-img1-308x308.webp')
            img.reviews__img(src='img/reviews-img1-308x308.jpg' alt='')
        span.reviews__figcaption Отзывёр 5
        button.link.reviews__link(href='#') Показать отзыв
    .reviews__overlay
    .reviews__review-block
      button.reviews__review-close
      .reviews__review-item
        .reviews__review-imgblock
          img.reviews__review-img(src='img/reviews-img1-308x308.jpg' alt='')
        .reviews__review-textblock
          p.reviews__review-text Очень понравилось отношение врачей. Я пришел лечить только один зуб, потому что был тут несколько дней (я из другого города), но в итоге решился и сделал все зубы. Стоматолог Альбина Рафиковна знает свое дело! Глубокий кариес лечили в два приема и еще один зуб — с реставрацией. Современный подход, не экономят на материалах, как во многих Питерских клиниках. Сервис и дизайн клиники на высоте.
          .reviews__review-bottom
            span.reviews__review-date 11 сентября 2020 г.
            span.reviews__review-author Отзывёр 1
      .reviews__review-item
        .reviews__review-imgblock
          img.reviews__review-img(src='img/reviews-img1-308x308.jpg' alt='')
        .reviews__review-textblock
          p.reviews__review-text Очень понравилось отношение врачей. Я пришел лечить только один зуб, потому что был тут несколько дней (я из другого города), но в итоге решился и сделал все зубы. Стоматолог Альбина Рафиковна знает свое дело! Глубокий кариес лечили в два приема и еще один зуб — с реставрацией.
          .reviews__review-bottom
            span.reviews__review-date 12 сентября 2020 г.
            span.reviews__review-author Отзывёр 2
      .reviews__review-item
        .reviews__review-imgblock
          img.reviews__review-img(src='img/reviews-img1-308x308.jpg' alt='')
        .reviews__review-textblock
          p.reviews__review-text Очень понравилось отношение врачей. Я пришел лечить только один зуб, потому что был тут несколько дней (я из другого города), но в итоге решился и сделал все зубы. Стоматолог Альбина Рафиковна знает свое дело! Глубокий кариес лечили в два приема и еще один зуб — с реставрацией. Современный подход, не экономят на материалах, как во многих Питерских клиниках. Сервис и дизайн клиники на высоте. Спасибо вам огромнейшее! Если буду в Уфе, запишусь на приём только сюда.
          .reviews__review-bottom
            span.reviews__review-date 13 сентября 2020 г.
            span.reviews__review-author Отзывёр 3
      .reviews__review-item
        .reviews__review-imgblock
          img.reviews__review-img(src='img/reviews-img1-308x308.jpg' alt='')
        .reviews__review-textblock
          p.reviews__review-text Очень понравилось отношение врачей. Я пришел лечить только один зуб, потому что был тут несколько дней (я из другого города), но в итоге решился и сделал все зубы. Стоматолог Альбина Рафиковна знает свое дело! Глубокий кариес лечили в два приема и еще один зуб — с реставрацией. Современный подход, не экономят на материалах, как во многих Питерских клиниках.
          .reviews__review-bottom
            span.reviews__review-date 14 сентября 2020 г.
            span.reviews__review-author Отзывёр 4
      .reviews__review-item
        .reviews__review-imgblock
          img.reviews__review-img(src='img/reviews-img1-308x308.jpg' alt='')
        .reviews__review-textblock
          p.reviews__review-text Очень понравилось отношение врачей.
          .reviews__review-bottom
            span.reviews__review-date 15 сентября 2020 г.
            span.reviews__review-author Отзывёр 5
      //- input.reviews__item-input.reviews__item-input--first(type='radio' name='reviews__radio' id='reviews__first' checked)
      //- label.reviews__item-label(for='reviews__first')
      //-   div.reviews__img-block
      //-     figure.reviews__figure
      //-       picture
      //-         source(type='image/webp' srcset='img/reviews-img1-308x308.webp')
      //-         img.reviews__img(src='img/reviews-img1-308x308.jpg' alt='')
      //-       figcaprion.reviews__figcaption Отзывёр 1
      //- input.reviews__item-input.reviews__item-input--second(type='radio' name='reviews__radio' id='reviews__second')
      //- label.reviews__item-label(for='reviews__second')
      //-   div.reviews__img-block
      //-     figure.reviews__figure
      //-       picture
      //-         source(type='image/webp' srcset='img/reviews-img1-308x308.webp')
      //-         img.reviews__img(src='img/reviews-img1-308x308.jpg' alt='')
      //-       figcaprion.reviews__figcaption Отзывёр 2
      //- input.reviews__item-input.reviews__item-input--third(type='radio' name='reviews__radio' id='reviews__third')
      //- label.reviews__item-label(for='reviews__third')
      //-   div.reviews__img-block
      //-     figure.reviews__figure
      //-       picture
      //-         source(type='image/webp' srcset='img/reviews-img1-308x308.webp')
      //-         img.reviews__img(src='img/reviews-img1-308x308.jpg' alt='')
      //-       figcaprion.reviews__figcaption Отзывёр 3
      //- input.reviews__item-input.reviews__item-input--fourth(type='radio' name='reviews__radio' id='reviews__fourth')
      //- label.reviews__item-label(for='reviews__fourth')
      //-   div.reviews__img-block
      //-     figure.reviews__figure
      //-       picture
      //-         source(type='image/webp' srcset='img/reviews-img1-308x308.webp')
      //-         img.reviews__img(src='img/reviews-img1-308x308.jpg' alt='')
      //-       figcaprion.reviews__figcaption Отзывёр 4
      //- input.reviews__item-input.reviews__item-input--fifth(type='radio' name='reviews__radio' id='reviews__fifth')
      //- label.reviews__item-label(for='reviews__fifth')
      //-   div.reviews__img-block
      //-     figure.reviews__figure
      //-       picture
      //-         source(type='image/webp' srcset='img/reviews-img1-308x308.webp')
      //-         img.reviews__img(src='img/reviews-img1-308x308.jpg' alt='')
      //-       figcaprion.reviews__figcaption Отзывёр 5
      //- .reviews__text.reviews__text--first
      //-   p.reviews__review Отзывёр 1. Очень понравилось отношение врачей. Я пришел лечить только один зуб, потому что был тут несколько дней (я из другого города), но в итоге решился и сделал все зубы. Стоматолог Альбина Рафиковна знает свое дело! Глубокий кариес лечили в два приема и еще один зуб — с реставрацией. Современный подход, не экономят на материалах, как во многих Питерских клиниках. Сервис и дизайн клиники на высоте. Спасибо вам огромнейшее! Если буду в Уфе, запишусь на приём только сюда.
      //- .reviews__text.reviews__text--second
      //-   p.reviews__review Отзывёр 2. Очень понравилось отношение врачей. Я пришел лечить только один зуб, потому что был тут несколько дней (я из другого города), но в итоге решился и сделал все зубы. Все некрасиво
      //- .reviews__text.reviews__text--third
      //-   p.reviews__review Отзывёр 3. Очень понравилось отношение врачей. Я пришел лечить только один зуб, потому что был тут несколько дней (я из другого города), но в итоге решился и сделал все зубы. Стоматолог Альбина Рафиковна знает свое дело! Глубокий кариес лечили в два приема и еще один зуб — с реставрацией. Современный подход, не экономят на материалах, как во многих Питерских клиниках. Сервис и дизайн клиники на высоте. Спасибо вам огромнейшее! Если буду в Уфе, запишусь на приём только сюда.
      //- .reviews__text.reviews__text--fourth
      //-   p.reviews__review Отзывёр 4. Очень понравилось отношение врачей. Я пришел лечить только один зуб, потому что был тут несколько дней (я из другого города), но в итоге решился и сделал все зубы. Стоматолог Альбина Рафиковна знает свое дело! Глубокий кариес лечили в два приема и еще один зуб — с реставрацией. Современный подход, не экономят на материалах, как во многих Питерских клиниках. Сервис и дизайн клиники на высоте. Спасибо вам огромнейшее! Если буду в Уфе, запишусь на приём только сюда.
      //- .reviews__text.reviews__text--fifth
      //-   p.reviews__review Отзывёр 5. Очень понравилось отношение врачей. Я пришел лечить только один зуб, потому что был тут несколько дней (я из другого города), но в итоге решился и сделал все зубы. Стоматолог Альбина Рафиковна знает свое дело! Глубокий кариес лечили в два приема и еще один зуб — с реставрацией. Современный подход, не экономят на материалах, как во многих Питерских клиниках. Сервис и дизайн клиники на высоте. Спасибо вам огромнейшее! Если буду в Уфе, запишусь на приём только сюда.
