section.sign-form
  .container.sign-form__container
    .sign-form__block
      .sign-form__left-block
        h2.sign-form__title Запишись на бесплатную консультацию
        form.sign-form__form
          input.sign-form__input.sign-form__input--name(placeholder='Имя Фамилия')
          input.sign-form__input.sign-form__input--tel(placeholder='Телефон для связи')
          button.link.sign-form__button Записаться
      .sign-form__right-block
        .sign-form__timer
        //- .example(data-date="2014-01-01 00:00:00" style="width: 500px; height: 125px;")
        #DateCountdown(data-date="2014-01-01 00:00:00" style="width: 500px; height: 125px; padding: 0px; box-sizing: border-box; background-color: #E0E8EF")
        //- .time(style="max-width: 500px; width:100%; height: 125px; padding: 0px; box-sizing: border-box; background-color: #FFFFFF" data-date="2020-09-20 23:59:59" data-tc-id="1e7cd433-efa0-1a07-0baa-91f9caf0093c")
