section.top-banner
  button.top-banner__button.top-banner__button--prev
  button.top-banner__button.top-banner__button--next
  .container.top-banner__container
    .top-banner__button-list
    ul.top-banner__slide-list
      li.top-banner__slide-item.top-banner__slide-item--first
        .top-banner__img-block
          picture
            source(type='image/webp' srcset='img/top-banner1-450x343.webp')
            img.top-banner__img(src='img/top-banner1-450x343.png' alt='')
        .top-banner__description
          h2.top-banner__title Стоматология для самых маленьких
          p.top-banner__text Сеть стоматологических клиник РИАДЕНТ специализируется на полном спектре стоматологических услуг для детей и взрослых
          a.link.top-banner__link(href='#') Перейти на сайт
      li.top-banner__slide-item.top-banner__slide-item--second
        .top-banner__img-block
          picture
            source(type='image/webp' srcset='img/top-banner2-598x492.webp')
            img.top-banner__img(src='img/top-banner2-598x492.png' alt='')
        .top-banner__description
          h2.top-banner__title Компьютерная томография
          p.top-banner__text Исследование методом 3D компьютерной томографии 40x40<br> Исследование методом 3D компьютерной томографии 70x70 от 1500 руб
          a.link.top-banner__link(href='#') Записаться на приём
      li.top-banner__slide-item.top-banner__slide-item--third
        .top-banner__img-block
          picture
            source(type='image/webp' srcset='img/bannerslide1-430x430.webp')
            img.top-banner__img(src='img/bannerslide1-430x430.png' alt='')
        .top-banner__description
          h2.top-banner__title Система All-on-4
          p.top-banner__text Все зубы на 4 имлантах с отсроченной нагрузкой протезом.
          a.link.top-banner__link(href='#') Позвонить
      li.top-banner__slide-item.top-banner__slide-item--fourth
        .top-banner__img-block
          picture
            source(type='image/webp' srcset='img/bannerslide2-669x430.webp')
            img.top-banner__img(src='img/bannerslide2-669x430.png' alt='')
        .top-banner__description
          h2.top-banner__title Какие-то брекеты
          p.top-banner__text Какие-то брекеты на синем фоне.
          a.link.top-banner__link(href='#') Позвонить
