section.videotour
  .container.videotour__container
    .videotour__black-block
      h2.videotour__title Посмотрите видео 3d тур наших клиник 
      .videotour__block
        .videotour__left-block
          iframe(width="760" height="520" src="https://www.youtube.com/embed/_0dd6igRzZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .videotour__right-block
          iframe(width="760" height="520" src="https://www.youtube.com/embed/o5Tb33QbMjk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
