section.find-us
  .container.find-us__container
    .find-us__text-block
      h2.find-us__title Как нас найти
      p.find-us__text г. Уфа, ул. Кавказская 6/8
      a.find-us__phone(href='tel:+73472252506') +7 (347) 225-25-06
      p.find-us__text Мы работаем:
      p.find-us__text Понедельник - Пятница: с 9:00 до 21:00
      p.find-us__text Суббота - Воскресенье: с 9:00 до 18:00
      p.find-us__text E-mail: 
        a.find-us__mail(href='mailto:Riadentufa@mail.ru') Riadentufa@mail.ru
      a.link.find-us__route(href='#' onclick='navigate(54.703068, 55.977559)') Проложить маршрут
      img.find-us__logo-img(src='img/logo-white.png' width='277' height='56' alt='')
    .find-us__map-block
      script(charset='utf-8' src='https://widgets.2gis.com/js/DGWidgetLoader.js')
      script.find-us__map(charset='utf-8') new DGWidgetLoader({"width":1020,"height":600,"borderColor":"#a3a3a3","pos":{"lat":54.70364758640492,"lon":55.97757339477539,"zoom":16},"opt":{"city":"ufa"},"org":[{"id":"70000001038100110"}]});
      noscript(style='color:#c00;font-size:16px;font-weight:bold;') Виджет карты использует JavaScript. Включите его в настройках вашего браузера.
