extends common/layout

block content
  main.page-main
    //- .gray-section--top
    include includes/index/main-slider.pug
    include includes/index/services.pug
    include includes/index/sign-form.pug
    include includes/index/top-banner.pug
    //- .gray-section--middle
    include includes/index/about-us.pug
    include includes/index/advantages.pug
    include includes/index/our-team.pug
    include includes/index/reviews.pug
    //- .gray-section--bottom
    include includes/index/videotour.pug
    include includes/index/new-advantages.pug
    include includes/index/find-us.pug
